* {
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

@media only screen and (min-width: 370px) and (max-width: 450px) {
    .loading {
        transition: 4s;
        opacity: 1;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFDEE9;
        background-image: linear-gradient(135deg, #FFDEE9 0%, #B5FFFC 73%, #ffffff 100%);
    }
    .title {
        color: rgba(218, 9, 9, 0.651);
        padding: 70px;
        text-align: start;
        font-size: 45px;
    }
    .img-container {
        position: relative;
        width: 100vw;
    }
    .img-banner {
        width: 100%;
        object-fit: contain;
        filter: brightness(70%);
    }
    .img-text {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
    }
    .img-text h2 {
        text-align: center;
        padding: 10px;
        color: #ffffff;
        font-size: 25px;
    }
    .main-body {
        opacity: 0;
        transition: 1s;
    }
    .seccion2 {
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }
    .seccion2__text {
        background-image: linear-gradient(120deg, #d4fc79d2 0%, #96e6a1d2 100%);
        padding: 15px;
        position: relative;
        left: 25px;
        z-index: 99;
    }
    .seccion2__text h3 {
        font-size: 20px;
    }
    .seccion2__text p {
        font-size: 15px;
    }
    .seccion2__img {
        position: relative;
        right: 25px;
    }
    .seccion2__img img {
        width: 100%;
    }
}